In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [28]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
pd.__version__

'2.2.2'

In [8]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', nrows=1000)

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [16]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [13]:
df = next(df_iter)

In [18]:
%%time

df.to_sql(name='yellow_taxi_data', con=engine, if_exists= 'append')

CPU times: user 4.58 s, sys: 97 ms, total: 4.67 s
Wall time: 36.5 s

1000

In [19]:
from time import time
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime) 

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists= 'append')

    t_end = time()
    print(f'inserted another chunk..., took {t_end - t_start}')

inserted another chunk..., took 34.35708522796631
inserted another chunk..., took 33.78300595283508
inserted another chunk..., took 33.79243493080139
inserted another chunk..., took 34.663748025894165
inserted another chunk..., took 34.172749042510986
inserted another chunk..., took 34.90894079208374
inserted another chunk..., took 35.101582288742065
inserted another chunk..., took 36.26093792915344
inserted another chunk..., took 37.32362198829651
inserted another chunk..., took 33.22942113876343
inserted another chunk..., took 35.61829400062561

/var/folders/94/zm4fwyx5327dwtst2ysmjy200000gn/T/ipykernel_29709/548320282.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 32.853277921676636
inserted another chunk..., took 23.25291395187378

StopIteration:

In [21]:
!wget https://raw.githubusercontent.com/fivethirtyeight/uber-tlc-foil-response/master/uber-trip-data/taxi-zone-lookup.csv

--2024-09-12 09:18:59--  https://raw.githubusercontent.com/fivethirtyeight/uber-tlc-foil-response/master/uber-trip-data/taxi-zone-lookup.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7714 (7.5K) [text/plain]
Saving to: ‘taxi-zone-lookup.csv’

taxi-zone-lookup.cs 100%[===================>]   7.53K  --.-KB/s    in 0s

2024-09-12 09:18:59 (22.5 MB/s) - ‘taxi-zone-lookup.csv’ saved [7714/7714]

In [23]:
df_zones = pd.read_csv('taxi-zone-lookup.csv')

In [25]:
df_zones.head()

   LocationID        Borough                     Zone
0           1            EWR           Newark Airport
1           2         Queens              Jamaica Bay
2           3          Bronx  Allerton/Pelham Gardens
3           4      Manhattan            Alphabet City
4           5  Staten Island            Arden Heights

In [29]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [30]:
sql_where = '''
SELECT
	"tpep_pickup_datetime",
	"tpep_dropoff_datetime",
	"total_amount",
	zpu."Borough" AS "zpu_borough",
	zpu."Zone"  AS "zpu_zone",
	zdo."Borough" AS "zdo_borough",
	zdo."Zone"  AS "zdo_zone"
FROM
	yellow_taxi_data t,
	zones zpu,
	zones zdo
WHERE
	t."PULocationID" = zpu."LocationID" AND
	t."DOLocationID" = zdo."LocationID"	
ORDER BY
	"tpep_pickup_datetime" ASC,
	"tpep_dropoff_datetime" ASC,
	"total_amount" ASC,
	"zpu_borough" ASC,
	"zpu_zone" ASC,
	"zdo_borough" ASC,
	"zdo_zone" ASC;
'''

In [31]:
sql_join = '''
SELECT
	"tpep_pickup_datetime",
	"tpep_dropoff_datetime",
	"total_amount",
	zpu."Borough" AS "zpu_borough",
	zpu."Zone"  AS "zpu_zone",
	zdo."Borough" AS "zdo_borough",
	zdo."Zone"  AS "zdo_zone"
FROM
	yellow_taxi_data t JOIN zones zpu
	    ON t."PULocationID" = zpu."LocationID"
	JOIN zones zdo
	    ON t."DOLocationID" = zdo."LocationID"
ORDER BY
	"tpep_pickup_datetime" ASC,
	"tpep_dropoff_datetime" ASC,
	"total_amount" ASC,
	"zpu_borough" ASC,
	"zpu_zone" ASC,
	"zdo_borough" ASC,
	"zdo_zone" ASC;
'''

In [32]:
where_df = pd.read_sql_query(sql_where, con=engine)
join_df = pd.read_sql_query(sql_join, con=engine)
print(where_df.equals(join_df))

True